897-NodeRed_MQTT_Dashboard/flows.json
[
    {
        "id": "926489230d4875a2",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eeba134347eac607",
        "type": "mqtt in",
        "z": "926489230d4875a2",
        "name": "",
        "topic": "client/sensor/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "952e25723d90ec5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "0cc0318938844a90",
                "12b63715a7f8c4e9",
                "dd457a95d3794d1d"
            ]
        ]
    },
    {
        "id": "0cc0318938844a90",
        "type": "ui_gauge",
        "z": "926489230d4875a2",
        "name": "",
        "group": "f81fb063b1f3e4a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "dd457a95d3794d1d",
        "type": "ui_chart",
        "z": "926489230d4875a2",
        "name": "",
        "group": "f81fb063b1f3e4a7",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "12b63715a7f8c4e9",
        "type": "ui_text",
        "z": "926489230d4875a2",
        "group": "f81fb063b1f3e4a7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "952e25723d90ec5d",
        "type": "mqtt-broker",
        "name": "hivemqtt-server",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f81fb063b1f3e4a7",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "7440e84da654de70",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7440e84da654de70",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]